[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf2 = "*"
"discord.py" = "*"
install = "*"
py-staticmaps = {extras = ["cairo"], version = "*"}
requests = "*"
pillow = "*"
selenium = "*"
editdistance = "*"
beautifulsoup4 = "*"
googlemaps = "*"
folium = "*"
openai = "*"
xmltodict = "*"
xml-python = "*"
openai-clip = "*"
torch = "*"
torchvision = "*"
pandas = "*"
psycopg2 = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.11"
